<img class="portrait" src="assets/portrait.jpg" loading="lazy" />
<h1>About Me</h1>
<p>
  My name is <strong>Grey Ruessler</strong>, and I'm a
  <strong>senior software engineer</strong>. I've been coding for
  <strong> {{ codingYears$ | async }} years</strong> now; I fell in love with
  game programming as a kid, and I've been captivated with technology ever
  since. In college, I majored in <strong>Cybersecurity</strong>, which gave me
  valuable experience with
  <strong>low-level programming, containers, networking,</strong> and much more.
  Today, I do <strong>full-stack engineering</strong>, with an emphasis on
  <strong>designing resilient and performant systems</strong>. That said, I'm
  always looking for new ways to apply my love for the field, and would love to
  stay diversified!
</p>
<p>
  I'm Texas born and raised, currently <strong>working remotely</strong> out of
  the midwest but <strong>open to relocation.</strong> My only criteria is that
  I'd like to be somewhere temperate to chilly; I don't miss the Dallas summers!
  I am happy to work on a variety of schedules, but lean towards mornings.
</p>
<p>
  Outside of my career as a software engineer, I've been pursuing
  <strong>photography</strong> for the past
  <strong>{{ photographyYears$ | async }} years</strong>. I've always loved
  nature, and in my line of work, it's more important than ever to get offline
  and disconnect. I shoot a variety of styles, from headshots to landscapes, and
  I'm keen on learning about interesting opportunities.
</p>
