<!--TODO: accept data structure, render recursively-->
<!--better yet, render icons-->
<div class="skill-grid">
  <div>
    <h5>Front End</h5>
    <ul>
      <li>
        Angular
        <ul>
          <li>Angular Material</li>
          <li>Karma/Jest</li>
          <li>RXJS</li>
          <li>Zoneless</li>
        </ul>
      </li>
      <li>TypeScript</li>
      <li>JavaScript/ES6</li>
      <li>HTML/CSS</li>
      <li>SASS</li>
      <li>Bootstrap</li>
      <li>Angular.js</li>
      <li>jQuery</li>
    </ul>
  </div>
  <div>
    <h5>Back-End</h5>
    <ul>
      <li>
        .NET Core / .NET 8
        <ul>
          <li>ASP.NET MVC</li>
          <li>CQRS/REST APIs</li>
          <li>NUnit/XUnit</li>
        </ul>
      </li>
      <li>C#</li>
      <li>Node.js</li>
      <li>TSQL/MYSQL</li>
      <li>Python</li>
      <li>Java</li>
    </ul>
  </div>
  <div>
    <h5>DevOps/SysAdmin</h5>
    <ul>
      <li>
        Continuous Integration (CI)
        <ul>
          <li>Azure DevOps Pipelines</li>
          <li>GitHub Workflows</li>
        </ul>
      </li>
      <li>
        Continuous Deployment (CD)
        <ul>
          <li>AWS CloudFormation</li>
          <li>Azure Bicep/ARM</li>
          <li>Cloudflare Wrangler</li>
        </ul>
      </li>
      <li>
        Linux
        <ul>
          <li>Bash</li>
          <li>LAMP Stack</li>
          <li>PowerShell Core / PS7</li>
          <li>Ubuntu</li>
        </ul>
      </li>
      <li>Docker / Docker Compose</li>
    </ul>
  </div>
  <div>
    <h5>Cloud</h5>
    <ul>
      <li>
        Azure Services
        <ul>
          <li>B2C</li>
          <li>CosmosDB</li>
          <li>Functions</li>
          <li>Service Bus</li>
          <li>Blob Storage</li>
          <li>Front Door</li>
        </ul>
      </li>
      <li>
        AWS Services
        <ul>
          <li>DynamoDB</li>
          <li>CloudFront</li>
          <li>Lambda</li>
          <li>S3</li>
          <li>Step Functions</li>
        </ul>
      </li>
      <li>
        Cloudflare
        <ul>
          <li>CDN</li>
          <li>Pages</li>
          <li>Security</li>
          <li>Workers</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
