<!-- <div class="fw-image-container">
  <div>
    <img src="assets/20220818_mtn_DSC0866.jpg" class="h-full-minus-header" />
    <div class="overlay slogan-text">Grey Codes .NET</div>
  </div>
</div> -->
<div class="bg-content-1 h-full-minus-header">
  <div>
    <div class="slogan-text">
      Grey @defer() {
      <app-typewriter [items]="whatIDo" [shuffle]="false"></app-typewriter>
      }
    </div>
  </div>
  <div class="see-more">
    <button (click)="scrollTo(aboutMe)">Learn More</button>
  </div>
</div>
<div class="content" #aboutMe>
  <img class="portrait" src="assets/portrait.jpg" />
  <h1>About Me</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus
    mattis nisi, ut vulputate nisl. Duis fringilla eget mauris at aliquet.
    Curabitur lacinia lorem eget nisl elementum ultrices. Duis libero libero,
    sodales non eleifend in, maximus non sem. Integer vehicula sodales tortor a
    pulvinar. Etiam aliquet metus ac turpis finibus maximus. Suspendisse at
    mauris sit amet lacus euismod cursus. Mauris a lorem posuere nisi malesuada
    sollicitudin. Aliquam et venenatis justo.
  </p>
  <p>
    Ut aliquet sit amet erat ac vehicula. Nam accumsan mauris sem, ut dapibus
    purus sodales id. Nulla ullamcorper vitae tortor ac sodales. Aliquam vitae
    orci augue. Donec eget eros nec tortor suscipit bibendum eu vitae turpis.
    Proin dolor sapien, pulvinar quis auctor vestibulum, tincidunt vitae metus.
    Nulla pellentesque nulla ac velit laoreet bibendum. Morbi malesuada tempor
    est, at luctus mi finibus non.
  </p>
  <p>
    Fusce nec hendrerit nisl. Sed nec massa est. Vivamus semper urna quis justo
    molestie ultricies. Aenean lacinia non lacus ac sodales. Praesent lobortis
    eros odio, vel ultricies urna volutpat ut. Aenean ornare mauris elit, at
    scelerisque tortor gravida a. Morbi quis nibh ut mauris gravida porta.
    Praesent molestie velit sit amet magna maximus, ut dapibus metus porttitor.
    Maecenas fermentum diam eget urna suscipit, a iaculis purus lobortis.
    Quisque a ligula purus. Aenean ultricies malesuada sapien in interdum. Fusce
    mattis est lectus, a gravida leo commodo et. Nam at fermentum risus. Quisque
    eget sollicitudin odio. Duis eleifend odio a tempor pharetra.
  </p>
  <p>
    Vivamus sit amet sollicitudin ligula. Etiam posuere finibus tincidunt. Donec
    in mi neque. Etiam ullamcorper facilisis tellus, eu congue urna vestibulum
    in. Aenean vel aliquet sapien, nec efficitur odio. Maecenas dignissim et
    erat eu pulvinar. Curabitur velit nulla, congue vitae magna ac, suscipit
    commodo mauris. Donec ac libero eu justo pharetra volutpat bibendum nec
    elit. Aenean bibendum arcu felis, ac viverra tortor luctus ac. Donec
    faucibus enim id vulputate pharetra.
  </p>
  <p>
    Nam sodales odio consequat ipsum pretium, quis suscipit diam feugiat. Proin
    a mi dapibus, dictum lorem vel, pulvinar quam. Proin viverra lobortis nisi,
    at vestibulum sem. Orci varius natoque penatibus et magnis dis parturient
    montes, nascetur ridiculus mus. Morbi maximus lectus vel nulla auctor
    eleifend. Duis eget pellentesque felis. Pellentesque laoreet leo ipsum, non
    tincidunt ligula congue vel. Integer lacinia turpis sit amet accumsan
    iaculis. Nulla vitae turpis consequat, dictum diam id, fermentum magna. Duis
    ac nulla id ligula lacinia eleifend nec eget sapien.
  </p>
  <p>
    Suspendisse nec finibus felis, nec ornare urna. Ut fringilla aliquam orci,
    vel laoreet ex posuere at. Cras id urna lobortis, tempor nunc a, vestibulum
    dolor. Ut facilisis consectetur erat, efficitur dapibus arcu imperdiet nec.
    Maecenas sed sapien eros. Curabitur vel odio porttitor, tempor libero sit
    amet, egestas dolor. Aliquam nec odio mattis, cursus urna a, rutrum risus.
    Quisque tempus odio nec mauris convallis, at bibendum est vehicula.
    Vestibulum sed tortor vel erat vestibulum dapibus nec vitae nulla. Curabitur
    congue tristique nunc vel molestie. Nullam mattis convallis tincidunt. Ut
    varius velit ut metus feugiat, sit amet mattis metus pretium. Etiam sem
    quam, fringilla sit amet tincidunt vel, sagittis vel leo. In laoreet, turpis
    in porttitor suscipit, dolor tellus pharetra nunc, sed ullamcorper leo ante
    at mauris. Phasellus eget finibus lacus.
  </p>
</div>
