<!-- <div class="fw-image-container">
  <div>
    <img src="assets/20220818_mtn_DSC0866.jpg" class="h-full-minus-header" />
    <div class="overlay slogan-text">Grey Codes .NET</div>
  </div>
</div> -->
<div class="bg-content-1 h-full-minus-header">
  <div>
    <div class="slogan-text">
      Grey <app-typewriter [items]="whatIDo" [shuffle]="false"></app-typewriter>
    </div>
  </div>
  <div class="see-more">
    <button>Learn More</button>
  </div>
</div>
<div>
  <h1>Under Construction!</h1>
  <p>Swing by again soon to check out my cool projects and photos :D</p>
</div>
