<!--Left Side-->
<button class="mobile-only"><i class="fas fa-bars"></i></button>
<div class="desktop-only logo-host">
  <img src="/assets/logo.jpg" />
</div>
<!--Middle-->
<div class="mobile-only logo-host">
  <img src="/assets/logo.jpg" />
</div>
<div class="desktop-only nav-items">
  <span>Home</span>
  <span>Portfolio</span>
  <span>Photography</span>
  <span>Contact</span>
</div>
<!--Right-->
<div class="desktop-only socials">
  <i class="fab fa-linkedin-in"></i>
  <i class="fab fa-instagram"></i>
  <i class="fab fa-github"></i>
</div>
<div class="mobile-only"></div>
