<!--Left Side-->
<button class="mobile-only"><fa-icon [icon]="faBars"></fa-icon></button>
<div class="desktop-only logo-host">
  <img src="/assets/logo.jpg" />
</div>
<!--Middle-->
<div class="mobile-only logo-host">
  <img src="/assets/logo.jpg" />
</div>
<div class="desktop-only nav-items">
  <a [routerLink]="['/']">Home</a>
  <a>Portfolio</a>
  <a>Photography</a>
  <a>Contact</a>
</div>
<!--Right-->
<div class="desktop-only socials">
  <a href="https://www.linkedin.com/in/grey-ruessler/" target="_blank"
    ><fa-icon [icon]="faLinkedinIn"></fa-icon
  ></a>
  <a href="https://www.instagram.com/greycodes/" target="_blank">
    <fa-icon [icon]="faInstagram"></fa-icon
  ></a>
  <a href="https://www.github.com/grey-r/" target="_blank">
    <fa-icon [icon]="faGithub"></fa-icon
  ></a>
</div>
<div class="mobile-only"></div>
