<!--Left Side-->
<button class="mobile-only"><fa-icon [icon]="faBars"></fa-icon></button>
<div class="desktop-only logo-host">
  <img src="/assets/logo.jpg" />
</div>
<!--Middle-->
<div class="mobile-only logo-host">
  <img src="/assets/logo.jpg" />
</div>
<div class="desktop-only nav-items">
  <span>Home</span>
  <span>Portfolio</span>
  <span>Photography</span>
  <span>Contact</span>
</div>
<!--Right-->
<div class="desktop-only socials">
  <fa-icon [icon]="faLinkedinIn"></fa-icon>
  <fa-icon [icon]="faInstagram"></fa-icon>
  <fa-icon [icon]="faGithub"></fa-icon>
</div>
<div class="mobile-only"></div>
