$background-aero: rgba(#fff, 0.5);
$background-flat: rgba(#fff, 1);
$border-flat: rgba(#aaa, 0.3);
$border-aero: rgba(#aaa, 0.3);
$header-height: 4rem;
$text-color-header: #000;
$text-color-main: #000;
