<div class="content">
  <h1>Privacy Policy</h1>
  <h6>Effective Date: August 4th, 2024</h6>

  <h3>1. Introduction</h3>

  <p>
    Welcome to greycodes.net ("we," "our," "us"). We are committed to protecting
    your privacy and ensuring that your personal information is handled in a
    safe and responsible manner. This Privacy Policy outlines how we collect,
    use, and protect your personal information, and applies to
    <b>all visitors of the website.</b>
  </p>

  <h3>2. Information We Collect</h3>

  We collect personal information that you voluntarily provide to us when you
  fill out a form on our website. This information may include:
  <ul>
    <li>Name</li>
    <li>Email address</li>
    <li>IP address</li>
    <li>Approximate geographical location</li>
    <li>Any other voluntarily provided information</li>
  </ul>

  We also use Cloudflare's technologies to protect our website from malicious
  activities. This may involve the collection of certain technical data such as
  IP addresses, system configuration, URLs of referring pages, and other user
  preferences.

  <h3>3. How We Use Your Information</h3>

  <ul>
    <li>To deliver web content</li>
    <li>To protect the security and integrity of our website</li>
    <li>To contact you, at your express request</li>
    <li>
      Comply with any legal obligations in order to prevent fraudulent or
      illegal activities
    </li>
  </ul>

  <h3>4. Sharing Your Information</h3>

  We may share information with trusted third-party service providers who assist
  us in securely operating our website, conducting our business, or serving our
  users; information is expressedly used for security purposes, and is never
  sold. As of this policy's invocation, these providers include:
  <ul>
    <li>Cloudflare</li>
  </ul>

  <strong>We do not sell personal information.</strong>

  <h3>5. Your Rights</h3>

  Under the certain privacy regulations, you may have the right to access,
  update, or delete personally identifiable information. Please contact the
  website owner directly (e.g. through social media, or contact form) to invoke
  any of these rights. It may be necessary to collect information in order to
  verify any of these requests and respond appropriately. For specific
  geographical locations, refer to the final sections of this privacy policy.

  <h3>6. Data Security</h3>

  We implement a variety of security measures to maintain the safety of your
  personal information. Your personal information is contained behind secured
  networks and is only accessible by a limited number of persons who have
  special access rights to such systems and are required to keep the information
  confidential.

  <h3>7. Changes to This Privacy Policy</h3>

  We may update this Privacy Policy from time to time. We will notify you of any
  changes by posting the new Privacy Policy on our website. You are advised to
  review this Privacy Policy periodically for any changes.

  <h3>8. Notice to California Residents</h3>

  This section is relevant only to residents of California. We may collect, use,
  and disclose the following categories of Personal Information for our business
  and commercial purposes:
  <ul>
    <li>
      Identifiers such as email addresses, names, and contact information of
      various users.
    </li>
    <li>Internet or other electronic network activity information.</li>
  </ul>

  The sources from which we collect this information, the purposes for which we
  use it, and the categories of third parties to whom we disclose it are
  detailed in our privacy policy. As a California resident, you have the
  following rights, though they may be subject to certain legal limitations:

  <ul>
    <li>
      Knowledge: You can request details about the personal information that
      we've collected about you, including:
      <ul>
        <li>The categories of personal information.</li>
        <li>The sources from which the personal information is collected.</li>
        <li>
          The business or commercial purpose for collecting, selling, or sharing
          personal information.
        </li>
        <li>
          The categories of third parties where we disclose personal
          information.
        </li>
        <li>
          The specific pieces of personal information that we've collected about
          you.
        </li>
      </ul>
    </li>
    <li>
      Access: You can request a copy of the Personal Information that we've
      collected about you.
    </li>
    <li>
      Deletion: You can ask us to delete the Personal Information that we've
      collected from you.
    </li>
    <li>
      Correction: You can request that we correct inaccurate personal
      information and ensure it is complete, considering the purpose of
      processing.
    </li>
    <li>
      Opt-out of sales or sharing: You can request that we do not "sell" or
      "share" your Personal Information as defined by the CCPA. We will do our
      best to respect any browser privacy symbols, except where security or
      legal obligation dictates.
    </li>
    <li>
      Nondiscrimination: You have the right to exercise the above rights without
      facing discrimination. This means we will not penalize you for exercising
      your rights by denying services, increasing prices, decreasing service
      quality, or suggesting any such penalties.
    </li>
  </ul>

  To submit a request to exercise your rights to information, access, or
  deletion under the CCPA, please contact us as specified previously in our
  privacy policy.

  <h3>9. Europe / GDPR</h3>
  This site does not actively target or solicit information from European users,
  and additionally, is run by an individual for individual purposes. GDPR does
  not apply.
</div>

<app-footer></app-footer>
